<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
<link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
          
        <div class="main-conetent">

  {{>header}}
   <img class="portrait" src="img/robot.png">
        </div>
      <p>This site was created by Tanisha Singh. Search for the weather forecast of any place in the world.</p>
          {{>footer}}

    </body>
</html>  